.info-header {
    font-family: segoe ui;
    font-size: 18px;
    font-weight: normal;
    color: gray;
}

.stripe {
    position: absolute;
    z-index: -1;
    height: 30%;
    width: 100%;
    background-image: linear-gradient(to bottom, #7fcec5 0%, #14557b 74%);
    top: 30px;
}

.profile-picture {
    height: 125px;
    width: 125px;
    object-fit: contain;
    border-radius: 50%;
}

.profile-hr {
    margin: 10px 0px;
    padding: 0px;
}

.edit-button {
    position: absolute;
    top: 220px;
    right: 225px;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}