.navbar {
    font-size: 1.2rem;
}

.nav-link {
    color: rgb(109, 175, 196);
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 0.5rem 1rem;
    height: 100%;
}
  
.nav-link:hover {
    border-bottom: 3px solid #00DBBA;
    transition: all 0.2s ease-out;
}

